.popup__close3 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -36px;
  right: -36px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .popup__close3{
    top: -56px;
    right: 10px;
  }
}