.news__item_type_invisible{
  color: #B6BCBF;
  border-bottom: none;
  margin: 0 0 0 34px;
  display: none;
}

@media (min-width : 768px) and (max-width : 1439px) {
  .news__item_type_invisible{
    margin: 0 0 0 16px;
  }
}

