@import url(./__close/popup__close2.css);
@import url(./__title/popup__title2.css);
@import url(./__form/popup__form2.css);

.popup__content2 {
  width: 430px;
  height: 457px;
  padding: 34px 36px 28px 34px;
  position: relative;
  background-color: #FFF;
  border-radius: 16px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .popup__content2{
    width: 320px;
    height: 560px;
    padding: 16px;
  }
}