.button_type_menu{
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  display: none;
}

@media (max-width: 767px) {
  .button_type_menu{
    display: flex;
  }
}