@import url("./__copyright/menu__copyright.css");
@import url("./__close/menu__close.css");

@media (max-width: 767px) {
  .menu__news{
    height: 56px;
    padding:  0 16px 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  }
}