@import url("./__image/nothing__image.css");
@import url("./__title/nothing__title.css");
@import url("./__subtitle/nothing__subtitle.css");

.nothing{
  max-width: 1440px;
  width: 100%;
  min-height: 374px;
  display: flex;
  flex-direction: column;
}

@media (min-width : 768px) and (max-width : 1439px) {
  .nothing{
    min-height: 274px;
  }
}

@media (max-width: 767px) {
  .nothing{
    min-height: 248px;
  }
}