@import url("./__item/menu__item.css");

@media (max-width: 767px) {
  .menu__items{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    margin: 32px 0 42px 0;
    color: white;
  }
}